<div *ngIf="noHistoricalDataYet">
  <div *ngFor="let game of games" class="historical">
    <app-category-historical
      [categoryId]="game.categoryId"
    ></app-category-historical>

    <app-image
      [folder]="game.folder"
      [image]="game.image"
      [historical]="true"
    ></app-image>

    <app-stats
      [time]="game.time"
      [moves]="game.moves"
      [misses]="game.misses"
    ></app-stats>

    <div class="info">
      <input
        type="button"
        [value]="deleteGame"
        class="delete-game"
        (click)="delete(game.id)"
      />
    </div>

    <hr />
  </div>

  <div *ngIf="games.length == 0" class="info">
    {{ noHistoricalDataYet }}
  </div>
</div>
