<nav>
  <input type="checkbox" id="menu" />
  <label class="menu-label" for="menu">
    <div id="burger-container">
      <div id="burger">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
      </div>
    </div>
  </label>
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ puzzle }}</a
      >
    </li>
    <li>
      <a routerLink="/historical" routerLinkActive="active">{{ historical }}</a>
    </li>
    <li>
      <a routerLink="/repository" routerLinkActive="active">{{ repository }}</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">{{ about }}</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">{{ contact }}</a>
    </li>
  </ul>
</nav>
